<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap CSS -->

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/common.css' %}">
</head>

<body>

    <div class="center-form ">

        <form method="post">
            {% csrf_token %}

            <h1 class="text-center">Time Tracker</h1>

            {% if error_msg is not None %}
            <p class="error">There is an error with your credentials</p>
            {% endif %}

            {% if next %}
            <p class="error">Hey, you can't access that page.</p>
            {% endif %}

            <div class="form-group">
                <input class="form-control" type="text" name="username" required="required" placeholder="Username">
            </div>

            <div class="form-group">
                <input class="form-control" type="password" name="password" required="required" placeholder="Password">
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary btn-block btn-lg">
                <input type="hidden" name="next" value="{{ next }}" />
            </div>

            <a class="text-center" href="/register">
                <p>Create Account</p>
            </a>
        </form>

    </div>


</body>

</html>