<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
</head>

<style>
    body{
        text-align: center;
        padding-top: 5%;
    }
    
</style>

<body class="d-flex justify-content-center">

    <div class="success_container ">
        <h1>Success!</h1>
        <p>You have completed registration.</p>
        <p>You will be redirected to the login page or please click on the following link:</p>
        <a href="/">Login Page</a>
    </div>

</body>

</html>