<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap CSS -->

    {% load static %}


    <link rel="stylesheet" href="{% static '/css/common.css' %}">
    <link rel="stylesheet" href="{% static '/css/stopwatch.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Time Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/view-times">View</a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-danger my-2 my-sm-0" href="/logout">Sign Out</a>
            </div>
        </div>
    </nav>

    <form method="post">
        {%csrf_token%}
        <div class="center-body" id="stopwatch">
            <!-- <h1 id="output">00:00:00</h1> -->
            <input id="output" type="text" name="timeframe" value="00:00:00" readonly>
        </div>

        <div class="center-stop">
            <textarea name="description" placeholder="Description" class="form-control" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            <br>
            <input type="submit" value=Save class="btn btn-success btn-block btn-lg" id="save"></input>
        </div>

    </form>

    <div id="control-buttons" class="center-body center-stop">


        <div class="form-row">

            <div class="col">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-lg" id="startPause"
                    onclick="startPause()">Start</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-danger btn-lg btn-block btn-lg" onclick="reset()">Reset</button>
            </div>

        </div>

    </div>


    <script src="{% static '/js/stopwatch.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>